<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="<%= PUBLIC_PATH %>/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dtm</title>
    <script type="text/javascript">
        window.basePath = '<%= PUBLIC_PATH %>';

        window.__assetsPathBuilder = function (importer) {
            return window.basePath + "/" + importer;
        };
    </script>
</head>

<body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
</body>

</html>